@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Roboto:wght@100&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	border-color: #555555;
  color: #eeeeee;
  background-color: #292929;
  font-family: 'Fira Code', monospace;
}

#root{
  position: relative;
}
body{
  font-family: '';
  display: grid;
  place-items: center;
  height: 100vh;
}
.App{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}
.cell{
  height:6rem;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
}

.result{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  animation: fadein 1s ease-out;
}
.result > button{
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1 / 1;
  border: none;
}
.active{
  animation: fadein 0.2s linear;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}