*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  position: relative;

}
body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
}
.App{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}
.cell{
  height:6rem;
  aspect-ratio: 1 / 1;
  font-size: larger;
}

.result{
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.1px);
  color: white;
  top: 0%;
}
.result > button{
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
}
#root > p{
  color: white;
}